.red-button {
    height: 45px;
    width: 45px;
    background-color: #FF6B7210;
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red-button img {
    width: 19px;
}