header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar img {
    width: 235px;
}

#navbar h1 {
    margin-top: 15px;
    font-size: 24px;
}

#navbar p {
    font-size: 14px;
    margin-top: 2px;
}

#navbar a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}